@font-face {
    font-family: roboto;
    src: url('./roboto.ttf');
}

:root{
    --base-clr: #FAF4EA;
    --hover-clr: #4B3E2F;
    --text-clr: #000;
    --accent-clr: #D09A3F;
    --secondary-text-clr: #4B3E2F;
    --error-clr: red;
    --border-clr: #ccc; /* Light gray border */
    --focus-border-clr: #D09A3F; /* Highlight color for focus */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: roboto;
}
html{
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    /* background-color: var(--base-clr); */
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:25px;
}
.top-bar h2 {
  /* font-size1: 42px; */
  font-weight: 600;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D09A3F, #4B3E2F);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.top-bar h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shimmer 2s infinite;
  }

  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }




@media screen and (max-width: 768px) {
    .top-bar h2 {
        font-size1: 28px; 
        letter-spacing: 1.5px; 
    }
    .top-bar{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .top-bar h2 {
        font-size1: 24px; 
        letter-spacing: 1px; 
    }
    .top-bar{
        justify-content: center;
        align-items: center;
    }
}

.top-bar p {
    color: var(--secondary-text-clr);
    font-weight: bold;
    font-size1: 14px; 
    text-align: center;
}

@media screen and (max-width: 768px) {
    .top-bar p {
        display: none; 
    }
}

@media screen and (max-width: 480px) {
    .top-bar p {
        display: none; 
    }
}
.container{
    /* background-color: var(--base-clr); */
    /* border: 1px solid var(--secondary-text-clr); */
    border-radius: 1em;
    margin-bottom: 20px;
    /* height: 100vh; */
    margin-top: 20px;
    /* padding: min(3em, 15%); */
    h2, p{ margin-top:1em };
}
#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 280px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 350ms ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;  /* Stack children vertically */
}
li span {
    font-size1: 16px;
}


#sidebar.close{
    padding: 5px;
    width: 55px;
}
#sidebar ul {
    list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width:100%;
    flex-grow: 1; 
}
#sidebar > ul > li{
    width: 100%;
    text-wrap: nowrap;
}
#sidebar > ul > li:last-child {
    margin-top: auto; 
    margin-bottom: 20px;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 16px;

    .logo img{
        width: 230px;
        margin-top: 20px;
        margin-right:-40px;
        margin-bottom: 5px;
    }
}
svg{
    fill: var(--secondary-text-clr);
}
#sidebar ul li.active a{
    color: #ffffff;
    background-color: #4B3E2F;
    font-weight: 500;
    
    svg{
        fill: var(--accent-clr);
    }
}
#sidebar a, #sidebar .dropdown-btn{
    border-radius: .5em;
    padding: 10px;
    text-decoration: none;
    color: var(--secondary-text-clr);
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 10px;
    border: none;
    outline: none;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--secondary-text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: #d09b3fd8;
    color: white !important;
    font-weight: 500;
}
#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div{
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}
.dropdown-btn svg{
    transition: 200ms ease;
}
.rotate svg:last-child{
    rotate: 180deg;
}
#sidebar .sub-menu a{
    padding-left: 3em;
    text-wrap: wrap;
    font-size: 14px;
}
#toggle-btn{
    margin-left: auto;
    padding: 0.8em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 27px;
    transition: 200ms ease;
    outline: none;
    border: none;

    svg{
        transition: rotate 150ms ease;
    }

}
#toggle-btn:hover{
    transition: 200ms ease;

    background-color: #d09b3fd8;
    svg{
        fill: white !important;
    }
}
main{
    position: relative;
}
main p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}
main h2{
    color: var(--accent-clr);
    z-index: -1;
}

/* media queries for the sidebar and the page responsivness  */

@media(max-width: 800px) {
    body{
        grid-template-columns: 1fr;
    }
    #sidebar > ul > li:last-child {
        margin-bottom: 0px;
    }
    /* main{ */
        /* padding: 2em 1em 60px 1em; */
    /* } */
    .main-section{
        padding: 2em 1em 60px 1em;
    }
    .main-top{
        height:38px;
    }
    .container{
        border: none;
        padding: 0;
        height: 100vh;
        margin-top: 0px;
    }
    #sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--secondary-text-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
        background-color: var(--base-clr);
        z-index: 999;
        overflow-y: hidden;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
    
        > ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
            /* margin-top:20px; */
        }
    
        ul li {
            height: 100%;
        }
    
        ul a, ul .dropdown-btn {
            height: 70px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
            margin-top: -7px;
        }
    
        svg:active {
            fill: white;
        }
    
        ul li span, ul li:first-child, .dropdown-btn svg:last-child {
            display: none;
        }
    
        ul li .sub-menu.show {
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--accent-clr);
            display: flex;
            justify-content: center;
    
            > div {
                overflow-x: auto;
            }
    
            li {
                display: inline-flex;
            }
    
            a {
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
                color: white;
            }
        }
    }
    

    .divider{
        display: hidden;
    }
}
/* Main-top styling */
.main-top {
    background-color: var(--hover-clr);
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
    font-size: 14px;
    color: white; 
}

/* Left section styles */
.left-section {
    display: flex;
    align-items: center;
}

.left-section a {
    text-decoration: none;
    color: white; 
    /* margin-right: 10px; */
    font-size: 14px;
}

.left-section .divider {
    background-color: white; /* Divider color */
    width: 1px;
    height: 40px;
    margin: 0 10px;
}


/* Right section styles */
.right-section {
    display: flex;
    align-items: center;
}

#toggle-theme-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#toggle-theme-btn:hover {
    background-color: white;
    color: var(--hover-clr);
}

.right-section .divider {
    background-color: white;
    width: 1px;
    height: 40px;
    margin: 0 10px;
}


@media(max-width: 800px) {
    .left-section{
        display:none;
    }
    .right-section{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .right-section .divider{
       display: none;
    }
    /* .footer span{
        display:none;
        background-color: white;
    } */
    .footer{
       display: none !important;
    }
    .logout_btn{
        margin-top: 0px !important;
    }
}

#current-time {
    font-size: 14px;
    white-space: nowrap;
}

.content-section{
    padding: min(30px, 7%);
}
.footer{
    margin-top: 40px;
    background-color: var(--accent-clr);
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px;
}
.footer span{
    color: var(--secondary-text-clr) !important;
    font-weight: bold;
}
.line-animation {
    position: sticky; 
    top: 36px; 
    left: 0;
    height: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 0%;
    background-color: #D09A3F; 
    transition: width 0.3s ease; 
    z-index: 998; 
}

.line-active {
    width: 100%; 
}

.light_dark_div_resp{
    display:flex; 
    justify-content: center;
    align-items: center; 
    gap: 5px;    
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;  /* Reduced width */
    height: 20px;  /* Reduced height */
    margin-bottom: -2px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D09A3F;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;  /* Reduced height */
    width: 16px;  /* Reduced width */
    left: 2px;  /* Adjusted left position */
    bottom: 2px;  /* Adjusted bottom position */
    background-color: white;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #000;
  }
  input:checked + .slider:before {
    transform: translateX(20px);  /* Adjusted translate value */
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;  /* Adjusted border-radius */
  }
  .slider.round:before {
    border-radius: 50%;
  }
.screen-reader-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}
.screen-reader-link svg {
    fill: white;
}

.left-section a:hover {
    color: var(--accent-clr);
}

.left-section a:hover svg {
    fill: var(--accent-clr); /* Changes the SVG color when the link is hovered */
}
/* .sidebar_list{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height:80vh;
    width:100%;
} */
.logout_btn{
    margin-top: calc(100vh - 55vh);
}
ol, ul {
    padding-left: 0rem !important;
}


/* form style  */
h3 {
    /* font-size1: 20px; */
    color: var(--hover-clr);
    margin-bottom: 20px;
}

.apply-form, .search-form {
    display: flex;
    flex-direction: column;
}

.form-row, .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.form-field {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    /* font-size1: 14px; */
    color: var(--primary-text-clr);
    margin-bottom: 5px;
    font-weight: 600;
}
label span{
    color: red;
}

label .required {
    color: var(--error-clr);
    font-weight: bold;
}

input[type="text"], input[type="email"],input[type="password"], select, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-clr);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: var(--primary-text-clr);
    background-color: #FFF;
    outline: none; /* Removes the default outline on focus */
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
    border-color: var(--focus-border-clr); /* Highlight border on focus */
}

textarea {
    resize: none;
}

input[type="radio"] {
    margin-right: 5px;
}


.btn-search, .btn-submit {
    background-color: var(--secondary-text-clr);
    color: white;
    padding: 10px 20px;
    /* font-size1: 14px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-search:hover, .btn-submit:hover {
    background-color: var(--accent-clr);
}

textarea, select {
    padding: 10px;
    /* font-size1: 14px; */
}
/* 
input, textarea {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
} */

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        /* gap: 10px; */
    }

    .btn-search, .btn-submit {
        width: 100%;
        text-align: center;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    h3 {
        /* font-size1: 16px; */
        text-align: center;
    }

    label {
        /* font-size1: 13px; */
    }

    input[type="text"], select, textarea {
        padding: 6px;
        /* font-size1: 13px; */
    }

    .btn-search, .btn-submit {
        /* font-size1: 13px; */
        padding: 10px;
    }
    .radio-container {
        margin-bottom: 20px;
        display: flex !important;
        align-items:center !important;
        justify-content: center !important;
        gap: 30px;
    }
    .card_container{
        margin-left: 0px;
    }
    
}
.simple-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.or-separator {
    text-align: center;
    color: var(--error-clr);
    font-weight: bold;
    /* font-size1: 16px; */
}
.radio-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    margin-top:-20px;
}

.radio-container label {
    display: flex;
    align-items: center;
    gap: 10px;
    /* font-size1: 1rem; */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.radio-container label:hover {
    /* transform: scale(1.1); */
    /* color: var(--hover-clr); */
}

.radio-container input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #cc9b46;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.radio-container input[type="radio"]:checked {
    background-color: #cc9b46;
    box-shadow: 0 0 5px #cc9b46;
}

.radio-container input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}
label{
    letter-spacing: 0.5px;
    /* font-size1: 14px; */
}
.red{
    color: red;
}


/* DARK MODE STYLES  */











body.dark-mode {
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
    background-color: #202020;
    color: #ffffff;
}

body.dark-mode .main-top {
    background-color: #2c2c2c;
    transition: background-color 350ms ease-in-out;
}

body.dark-mode #sidebar {
    background-color: #2c2c2c;
    color: #ffffff; 
    transition: 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;
}

body.dark-mode #sidebar a, 
body.dark-mode #sidebar .dropdown-btn {
    color: #ffffff; 
    text-decoration: none;
    font-weight: 500;
    transition: color 350ms ease-in-out;
}

body.dark-mode #sidebar a:hover {
    color: #ffffff; 
}

body.dark-mode #sidebar .active {
    background-color: #2c2c2c;
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}

body.dark-mode #sidebar svg {
    fill: white;
    transition: fill 350ms ease-in-out;
}
body.dark-mode #sidebar ul li.active a  {
    background-color: var(--accent-clr);
}
body.dark-mode #sidebar ul li.active a svg {
    fill: var(--secondary-text-clr);
}
body.dark-mode h3{
    color: white;
    font-weight: 500;
}
body.dark-mode input{
    background-color: #2c2c2c;
    color: white;
    border-color: #fff;
}
body.dark-mode select{
    background-color: #2c2c2c;
    border-color: #fff;
}
.dark_select{
    background-color: white;
}
body.dark-mode .dark_select{
    background-color: #2c2c2c;
    color: white;
}
body.dark-mode .dark_select li:hover{
    background-color: #202020;
    color: white;
}
body.dark-mode .dark_form{
    background: #2c2c2c;
}
body.dark-mode .radio-container label{
    font-weight:500;
}
body.dark-mode .form-group label{
    font-weight: 500;
}
body.dark-mode .form-field label{
    font-weight: 500;
}
body.dark-mode .form-field button{
    background-color: var(--accent-clr);
}
body.dark-mode textarea{
    background-color: #2c2c2c;
    border-color: #ffffff;
}
/* Dark mode */
body.dark-mode .top-bar h2 {
    background: linear-gradient(90deg, #D09A3F, #D09A3F);
    -webkit-background-clip: text;
  color: transparent;
  }
 body.dark-mode .top-bar h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, transparent, transparent, transparent);
    animation: shimmer 2s infinite;
  }
body.dark-mode .load{
    color: white;
}
.loading_hc{
    background: #fff;
}
body.dark-mode .loading_hc{
    background: #202020;
}
#caseTypeToggleForOrderJudgementForm {
    width: 100%; /* Ensures it fits the parent container */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides the overflowing text */
    text-overflow: ellipsis; /* Adds '...' for overflowed text */
    display: block;
}
#caseTypeOptionsForOrderJudgementForm li {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides the overflowing text */
    text-overflow: ellipsis; /* Adds '...' for overflowed text */
    max-width: 100%; /* Prevents expansion */
}

.loader {
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 1s linear infinite;
}
.caseInfoTable:hover{
    background: rgb(245, 245, 245);
}
.caseInfoShowCaseDetails{
    background-color: #f5f8fad2;
}
body.dark-mode .caseInfoShowCaseDetails{
    background-color: #202020;
    color: white;
}

body.dark-mode .caseInfoTable:hover{
    background: #202020;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingSpinner .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #D09A3F;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
